<!-- Register -->
<div class="contain py-16">
    <div class="max-w-lg mx-auto shadow px-6 py-7 rounded overflow-hidden">
        <h2 class="text-2xl uppercase font-medium mb-1">Create an account</h2>
        <form >
            <div class="space-y-2">
                <div>
                    <label for="name" class="text-gray-600 mb-2 block">Full Name</label>
                    <input type="text" name="name" id="name"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        placeholder="fulan fulana" [(ngModel)]=" user.name ">
                        
                </div>
                <div>
                    <label for="email" class="text-gray-600 mb-2 block">Email address</label>
                    <input type="email" name="email" id="email"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        placeholder="youremail.@domain.com" [(ngModel)]=" user.email ">
                </div>
                <div>
                    <label for="password" class="text-gray-600 mb-2 block">Password</label>
                    <input type="password" name="password" id="password"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        placeholder="*******" [(ngModel)]=" user.password " >
                </div>
                
                <div>
                    <label for="phone" class="text-gray-600 mb-2 block">Phone Number</label>
                    <input type="text" name="phone" id="phone"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        placeholder="22 222 222" [(ngModel)]=" user.phone " >
                </div>
                <div>
                    <label for="adress" class="text-gray-600 mb-2 block">Adress</label>
                    <input type="text" name="adress" id="adress"
                        class="block w-full border border-gray-300 px-4 py-3 text-gray-600 text-sm rounded focus:ring-0 focus:border-primary placeholder-gray-400"
                        placeholder="05 Rue de *** " [(ngModel)]=" user.adress " >
                </div>
                <div class="mt-4">
                    <label for="image" class="block text-gray-600 font-medium mb-2">Select Image</label>
                    <div class="flex items-center justify-center bg-grey-lighter">
                      <label class="w-64 flex flex-col items-center px-4 py-6 bg-white text-gray-600 rounded-lg shadow-lg tracking-wide uppercase border border-blue cursor-pointer hover:bg-blue hover:text-black">
                        <svg class="w-8 h-8" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M3.243 3a2 2 0 00-1.99 1.819L1.2 5h17.6l-.053-.181A2 2 0 0016.757 3H3.243zm-2.083 5h19.68l-2.08 7h-15.52l-2.08-7zm2.908 2a1 1 0 100 2h10a1 1 0 100-2H4.068z" clip-rule="evenodd"></path></svg>
                        <span class="mt-2 text-sm font-normal">Select a file</span>
                        <input type="file" name="image" id="image" class="hidden" (change)="select($event)">
                      </label>
                    </div>
                  </div>
            </div>
            <div class="mt-6">
                <div class="flex items-center">
                    <input type="checkbox" name="aggrement" id="aggrement"
                        class="text-primary focus:ring-0 rounded-sm cursor-pointer">
                    <label for="aggrement" class="text-gray-600 ml-3 cursor-pointer">I have read and agree to the <a
                            href="#" class="text-primary">terms & conditions</a></label>
                </div>
            </div>
            <div class="mt-4">
                <button type="submit" (click)="userRegister()"
                    class="block w-full py-2 text-center text-white bg-primary border border-primary rounded hover:bg-transparent hover:text-primary transition uppercase font-roboto font-medium">create
                    account</button>
            </div>
        </form>

        <!-- login with -->
        <div class="mt-6 flex justify-center relative">
            <div class="text-gray-600 uppercase px-3 bg-white z-10 relative">Or signup with</div>
            <div class="absolute left-0 top-3 w-full border-b-2 border-gray-200"></div>
        </div>
        <div class="mt-4 flex gap-4">
            <a href="#"
                class="w-1/2 py-2 text-center text-white bg-blue-800 rounded uppercase font-roboto font-medium text-sm hover:bg-blue-700">facebook</a>
            <a href="#"
                class="w-1/2 py-2 text-center text-white bg-red-600 rounded uppercase font-roboto font-medium text-sm hover:bg-red-500">google</a>
        </div>
        <!-- ./login with -->
        <div>
        <p class="mt-4 text-center text-gray-600 ">Welcome to our plateform user please! <a routerLink="/login"
                class="text-primary " >Login now</a></p> </div>
    </div>
</div>
<!-- ./Register -->